<launch>
    <arg name="fcu_url" default="/dev/ttyUSB0:230400"/> 
    <arg name="gcs_url" default="udp://@192.168.50.205"/>
    <arg name="SYS_ID1" default="0"/>
    <arg name="SYS_ID2" default="1"/>
    <arg name="SYS_ID3" default="2"/>
    <arg name="SYS_ID4" default="3"/>

    <group ns="uav$(arg SYS_ID1)">
        <param name="UAV_ID" value="$(arg SYS_ID1)"/>
       <node name="origin_py" pkg="ex250" type="origin.py" ></node>
        <node name="MAV1" pkg="ex250" type="MAV1" output="screen"></node>
    </group>
    <group ns="uav$(arg SYS_ID2)">
        <param name="UAV_ID" value="$(arg SYS_ID2)"/>
        <node name="origin_py" pkg="ex250" type="origin.py" ></node>
        <node name="MAV2" pkg="ex250" type="MAV2" output="screen"></node>
    </group>
    <group ns="uav$(arg SYS_ID3)">
        <param name="UAV_ID" value="$(arg SYS_ID3)"/>
        <node name="origin_py" pkg="ex250" type="origin.py"></node>
        <node name="MAV3" pkg="ex250" type="MAV3" output="screen"></node>
    </group>
    <group ns="uav$(arg SYS_ID4)">
        <param name="UAV_ID" value="$(arg SYS_ID4)"/>
        <node name="origin_py" pkg="ex250" type="origin.py"></node>
        <node name="MAV4" pkg="ex250" type="MAV4" output="screen"></node>
    </group>
</launch>
